.input{
    width: 289px;
    height: 34px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    border-top: 0;
    border-left: 0;
    border-right: 0;

    line-height:34px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Public Sans';
    color:rgba(0, 0, 0, 0.9);

    padding-left: 10px;
    padding-right: 24px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: none;
}

.input::placeholder {
    color:rgba(0, 0, 0, 0.44)
}

.input:focus {
    outline: 0
}







